<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutrition.express">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".application.ExpressApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:screenOrientation="portrait" />
        <activity android:name=".blogposts.PostListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".login.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".likes.LikesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".following.FollowingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".imageviewer.ImageViewerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImageViewerTheme" />
        <activity android:name=".videoplayer.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/VideoPlayerTheme" />

        <receiver android:name=".application.DownloadedReceiver">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>